@font-face {
    font-family: "Jomhuria";
    src: local("Jomhuria"),
        url("../../fonts/Jomhuria-Regular.ttf") format("ttf"); 
}
@font-face {
    font-family: "Rubik Mono One";
    src: local("Rubik Mono One"),
        url("../../fonts/RubikMonoOne-Regular.ttf") format("ttf"); 
}