
@import './mixins/mixins';
@import './variables/variable';

@import './block/header';

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
