.header{
    min-height: 60px;
    background: #555555;
    padding: 10px 40px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
        column-gap: 15px;
        border-right: 3px solid #fff;
        padding-right: 50px;
        &-text{
            &_title{
                padding-top: 10px;
                color: #FFF;
                text-align: center;
                font-size: 42px;
                font-family: "Jomhuria", sans-serif;
                line-height: 15px;
                font-weight: 400;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            &_subtitle{
                color: #D781FF;
                font-size: 24px;
                font-weight: 400;
                font-family: "Jomhuria", sans-serif;
            }
        }
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        width: 700px;
        &-link{
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            border-bottom: 3px solid #d781ff00;
            //padding-bottom: 20px;
            line-height: 40px;
            &:hover{
                border-bottom: 3px solid #D781FF;
                transition: 0.3s;
            }
        }
    }
    &__accaunt{
        display: flex;
        align-items: center;
        text-align: right;
        column-gap: 15px;
        &:hover{
            .settings{
                transition: 0.3s;
                left: 50px;
                visibility: visible;
            }
        }
        &-text{
            cursor: pointer;
            &_name{
                font-size: 14px;
                font-weight: 600;
                color: #fff;
            }
            &_email{
                font-size: 14px;
                font-weight: 600;
                color: #fff;
            }
        }
        &-img{
            position: relative;
            .settings{
                position: absolute;
                top: 10px;
                left: 10px;
                width: 20px;
                visibility: hidden;
            }
        }
    }
}